# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc
_sass/vendors
assets/js/dist


HELP.md
target/
.mvn/
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### STS ###
.DS_Store
**/.flattened-pom.xml

### IntelliJ IDEA ###
.idea
.mvn
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.bundle
vendle/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### mvn ###
mvnw
mvnw.cmd
test
